<h1>Jacob L Hayes</h1>
<br <h2>Bachelors of Computer Science</h2><br>

<ul>
  <li>this page created with ruby on rails</li>
  <li>this code edited on Atom </li>
  <li>this software run on 2015 macbook pro</li>
  <li>maybe just me but linux is best</li>
</ul>

<p>
man this assignment was a rollercoaster.
First I couldnt get anything right, then I figured it all out,
then i couldnt find the right commands,
and now im here. like zoinks man.
</p>

<%= link_to "Software Review", propresenter_url %>
<br><br><br>

<%=image_tag("profilepic.png")=%> <br />
