<h1>PROPRESENTER Presentaion Software</h1>

<%= image_tag("propresenter.png") %> <br />

<ul>
  <li>Maker: Renewed Vision</li>
  <li>Initial Launch: September 2014</li>
  <li>Supported OS: Mac OS X, Windows 10</li>
</ul>

<br <h2>4/5 stars</h2><br>

<p>
This software is great for formating video output signals. <br>
However, it is difficult to export saved files to run on a different machine. <br>
</p>

<input type="text" id="post_title" name="post[title]" size="20" /> <br />
<%= text_area(:application, :notes, cols: 40, rows: 15, class: 'myclass') %> <br />

<select >
  <option value="1">This</option>
  <option value="2">is</option>
  <option value="3">suprisingly</option>
  <option value="4">simple</option>
  <option value="5">!!!</option>
</select>

<p> Here is a button!!! </p>
<input type="radio"  /> <br /> <br />

<%= link_to "Profile Page", jhayes12_url %>
